.imagem img {
  opacity: 0.5;
}

.imagem .titulo {
  color: rgb(0, 0, 0);
  text-align: right;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #373B40;
  height: 70vh;
  opacity: 0.7;

  /*added here*/
  background-image:url("images/background2.jpeg");
   /*added here*/ }

  section:nth-of-type(2n) {
    background-color: #FE4B74;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0,0,0);
  }

